<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="Home page" content="This is the home page.">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="js/fooditems.js" type="text/js"></script>
  </head>
  <header>
      <img src="logo.jpg">
  </header>

  <nav id="navbar">
      <a href="/login">Login</a> | 
      <a href="/signup">Sign-up</a>
  </nav>

  <body>
    <div id="hero-section">
      <h1>Meals and grocery delivered.</h1>
    </div>

    <div id="content-section">
      <div class="content-item">
        <img class="content-item-img" src="pick.png">
        <h3>Pick</h3>
      </div>
      <div class="content-item">
        <img class="content-item-img" src="heat.png">
        <h3>Heat</h3>
      </div>
      <div class="content-item">
        <img class="content-item-img" src="eat.png">
        <h3>Eat</h3>
      </div>
      <div class="content-item">
        <img class="content-item-img" src="repeat.jpg">
        <h3>Repeat</h3>
      </div>
    </div>

    <h2>Top Meal Packages</h2>
    <div id="top-meal-packages">
      <!-- <div class="fooditem">
        <img class="fooditemimg" src="vongole.jpg">
        <h4>Spaghetti con vongole</h4>
      </div>
      <div class="fooditem">
        <img class="fooditemimg" src="sarde.jpg">
        <h4>Pasta alle sarde</h4>
      </div>
      <div class="fooditem">
        <img class="fooditemimg" src="spada.jpg">
        <h4>Pesce spada arrosto</h4>
      </div>
      <div class="fooditem">
        <img class="fooditemimg" src="norma.jpg">
        <h4>Pasta alla Norma</h4>
      </div> -->
    </div>

    <h2>Meal Packages</h2>
    <div id="mp-list">
      <!-- <div class="fooditem">
        <img class="fooditemimg" src="beef.jpg">
        <h4>Roast Beef</h4>
      </div>
      <div class="fooditem">
        <img class="fooditemimg" src="cheese.jpg">
        <h4>Grilled cheese</h4>
      </div>
      <div class="fooditem">
        <img class="fooditemimg" src="hamburger.jpg">
        <h4>Hamburger</h4>
      </div>
      <div class="fooditem">
        <img class="fooditemimg" src="baconeggs.jpg">
        <h4>Bacon and eggs</h4>
      </div> -->
    </div>

  </body>
</html>