<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="login" content="The login page.">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <h1>Login</h1>
  <body>
    <body>
      <form action="/" method ="POST">
        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required><br>
  
        <label for="pword">Password: </label><br>
        <input type="password" id="password" name="password" required><br>
        
        <button>submit</button>
      </form>
  </body>
</html>