<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="login" content="The login page.">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <h1>Login</h1>
  <body>
    <body>
      <form action="/register-user" method ="post" enctype="multipart/form-data">
        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email" value=""><br>
  
        <label for="pword">Password: </label><br>
        <input type="text" id="pword" name="pword" value=""><br>
        
        <input type="submit">
      </form>
  </body>
</html>